<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Code generated action links</title>
    <link href="CSS/StyleSheet.css" rel="stylesheet" />
    <link href="c:\users\raman\source\repos\databaskonstruktion_testr\databaskonstruktion_testr\css\stylesheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>MVC Example - Code generated action links</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>